<nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" >BEINEX</a>
      <h5 style="text-align: center; color: green;">Executive Dashboard</h5>
      <a style="text-align: end;" class="navbar-brand " href="#">
        <i class="fas fa-user "></i>
        <i  style="padding: 50px;"
        class="fa-solid fa-gear"></i>
    </a>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="navbar-brand" href="#">
                <i style="font-size: 10px;" class="fas fa-home"></i>
                
              </a>
            </li>
          </ul>
        </div>


      </div>
    </div>
   
   
       
    
  </nav>
        
          
